---
import Layout from '../layouts/Layout.astro';
import LandingHeader from "../components/LandingHeader.astro"
import HeroSection from "../components/HeroSection.astro"
import Modey from "../components/Modey.astro"
import Modex from  "../components/Modex.astro"
import Models from "../components/Models.astro"
import Solarpanels from "../components/Solarpanel.astro"
---

<Layout title="Tesla - El coche de tus sueños">
	<LandingHeader/>
    <main class="snap-y snap-mandatory rekative w-full h-screen overflor-auto overflow-x-hidden scroll-m-2">
		<div class="snap-center">
			<HeroSection/>
		</div>
		<div class="snap-center">
			<Modey/>
		</div>	
		<div class="snap-center">
			<Modex/>
		</div>
		<div class="snap-center">
			<Models/>
		</div>
		<div class="snap-center">
			<Solarpanels/>
		</div>
	</main>
	
</Layout>

